@import "../variables/colors";

.register-wrapper{
    background-color: $brand-white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../assets/image/background-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .input-wrappers {
        margin-top: auto;
        margin-bottom: 80px;
        max-width: 340px;
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        gap: 15px;
        .single-input {
            display: flex;
            flex-direction: column;
            input {
                padding: 8px 20px;
                font-size: 14px;
                letter-spacing: 1px;
                border: none;
                font-weight: 600;
                letter-spacing: 1px;
                border-radius: 3px;
                background-color: rgba($color: $brand-white, $alpha: .78);
                &.filled-input {
                    background-color: $brand-white;
                }
                &:focus {
                    background-color: $brand-white;
                }
                &::placeholder {
                    color: $brand-purple;
                    opacity: 1;
                }
            }
        }
    }
    .button-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        justify-content: center;
        margin-bottom: auto;
        grid-gap: 10px;
        gap: 10px;
    }
}
