@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}

h1 {
    margin: 0;
    line-height: 1;
}

p {
    margin: 0;
    line-height: 1;
}